<!DOCTYPE html>
<!--[if IE 8 ]><html class="no-js oldie ie8" lang="en"> <![endif]-->
<!--[if IE 9 ]><html class="no-js oldie ie9" lang="en"> <![endif]-->
<!--[if (gte IE 9)|!(IE)]><!--><html class="no-js" lang="en"> <!--<![endif]-->
<head>

   <!--- basic page needs
   ================================================== -->
   <meta charset="utf-8">
	<title>Wiliam Yoboue | About</title>
	<meta name="description" content="">  
	<meta name="author" content="">

   <!-- mobile specific metas
   ================================================== -->
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

 	<!-- CSS
   ================================================== -->
   <link rel="stylesheet" href="../css/base.css">  
   <link rel="stylesheet" href="../css/main.css">
   <link rel="stylesheet" href="../css/vendor.css">     

   <!-- script
   ================================================== -->   
	<script src="../js/modernizr.js"></script>
	<script src="../js/pace.min.js"></script>

   <!-- favicons
	================================================== -->
	<link rel="icon" type="image/png" href="../favicon.png">

</head>

<body id="top">

	<!-- header 
   ================================================== -->
   <header>   	
   	<div class="row">
   		<div class="top-bar">
   			<a class="menu-toggle" href="#"><span>Menu</span></a>
	   		<div class="logo">
		         <a href="../index.html">ABOUT</a>
		      </div>		      
		   	<nav id="main-nav-wrap">
					<ul class="main-navigation">
						<li><a href="../index.html" title="Wiliam Yoboue | Home">Home</a></li>
						<li class="current"><a href="about.html" title="Wiliam Yoboue | About">About</a></li>
						<li><a href="resume.html" title="Wiliam Yoboue | Resume">Resume</a></li>
						<li><a href="portfolio.html" title="Wiliam Yoboue | Portfolio">Portfolio</a></li>			
						<li><a href="contact.html" title="Wiliam Yoboue | Contact">Contact</a></li>	
					</ul>
				</nav>    		
   		</div> <!-- /top-bar --> 
   		
   	</div> <!-- /row --> 		
   </header> <!-- /header -->


   <!-- about section
   ================================================== -->
   <section id="about">  

   	<div class="row section-intro">
   		<div class="col-twelve">

   			<h5>About</h5>
   			<h1>Let me introduce myself</h1>

   			<div class="intro-info">

   				<img src="../images/profile-pic.jpg" alt="Profile Picture">

   				<p class="lead">I'am an experienced Country Manager with a demonstrated history of working in the import and export industry. Skilled in Research, Microsoft Excel, Customer Service, Microsoft Word, and Microsoft PowerPoint. Strong sales professional with a Doctor of Philosophy (PhD) focused in Business Administration and Management, General from Zhejiang Gongshang University.</p>
   			</div>   			

   		</div>   		
   	</div> <!-- /section-intro -->

   	<div class="row about-content">

   		<div class="col-six tab-full">

   			<ul class="info-list">
   				<li>
   					<strong>Fullname:</strong>
   					<span>Wiliam Yoboue</span>
   				</li>
   				<li>
   					<strong>Birth Date:</strong>
   					<span>May 17, 1982</span>
   				</li>
   				<li>
   					<strong>Job:</strong>
   					<span>International Business management specialist</span>
   				</li>
   				<li>
   					<strong>Email:</strong>
   					<span>yobouewiliam@yahoo.com</span>
   				</li>

   			</ul> <!-- /info-list -->

   		</div>

   		<div class="col-six tab-full">
   			<h3>Skills</h3>
   			<p>Here are some of the tools that I know how use really well. This list is not exhaustive.</p>
				<ul class="skill-bars">
				   <li>
				   	<div class="progress percent90"><span>90%</span></div>
				   	<strong>Microsoft Word</strong>
				   </li>
				   <li>
				   	<div class="progress percent90"><span>90%</span></div>
				   	<strong>Microsoft Excel</strong>
				   </li>
				   <li>
				   	<div class="progress percent90"><span>90%</span></div>
				   	<strong>Microsoft Power Point</strong>
				   </li>
				</ul> <!-- /skill-bars -->		
   		</div>

   	</div>

   	<div class="row button-section">
   		<div class="col-twelve">
   			<a href="contact.html" title="Hire Me" class="button stroke">Hire Me</a>
   			<a href="cv.html" title="Download CV" class="button button-primary" target="_blank">Download CV</a>
   		</div>   		
   	</div>

   </section>

   <!-- footer
   ================================================== -->

   <footer>
     	<div class="row">

     		<div class="col-six tab-full pull-right social">

     			<ul class="footer-social">        
			      <li><a href="https://www.facebook.com/wiliam.yoboue"><i class="fa fa-facebook"></i></a></li>
			      <li><a href="https://twitter.com/WiliamYoboue"><i class="fa fa-twitter"></i></a></li>
			      <li><a href="https://www.linkedin.com/in/wiliam-yoboue-ing-mba-ph-d-333383b7/"><i class="fa fa-linkedin"></i></a></li>
			   </ul> 
	      		
	      </div>

      	<div class="col-six tab-full">
	      	<div class="copyright">
		        	<span>© Wiliam Yoboue 2019.</span> 
		        	<span>Made by <a href="https://manourez.github.io/">Emmanuel Djessou</a></span>	         	
		         </div>		                  
	      	</div>

	      	<div id="go-top">
		         <a class="smoothscroll" title="Back to Top" href="#top"><i class="fa fa-long-arrow-up"></i></a>
		      </div>

      	</div> <!-- /row -->    	
   </footer>  

   <div id="preloader"> 
    	<div id="loader"></div>
   </div> 

   <!-- Java Script
   ================================================== --> 
   <script src="../js/jquery-2.1.3.min.js"></script>
   <script src="../js/plugins.js"></script>
   <script src="../js/main.js"></script>

</body>

</html>